$dark: #211f1d;
$light: #f0f0f0;
$link: #61564f;
$duration: 0.25s;
$width: 35px;
$height: calc($width / 7);
$bottom-distance: calc($width / 1.5);
$middle-distance: calc($bottom-distance / 2);
$top-distance: 0px;

.hamburger-btn {
  display: inline-block;
  cursor: pointer;
  padding: calc($height * 3) calc($height * 2); // extra padding for better touch support
  border: 0;
  margin: 0;
  background: none;
  overflow: visible;

  &:hover,
  &:active {
    .hamburger-container {

      .hamburger-line,
      .hamburger-line::before,
      .hamburger-line::after {
        background-color: $link;
      }
    }
  }

  &:focus {
    .hamburger-container {

      .hamburger-line,
      .hamburger-line::before,
      .hamburger-line::after {
        background-color: $dark;
      }
    }
  }

  .hamburger-container {
    width: $width;
    height: calc($height + $bottom-distance);
    display: block;
    position: relative;

    .hamburger-line,
    .hamburger-line::before,
    .hamburger-line::after {
      display: block;
      content: "";
      width: $width;
      height: $height;
      background-color: $dark;
      border-radius: $width;
      position: absolute;
      transition-property: transform;
      transition-duration: $duration;
      transition-timing-function: ease;
    }

    // Top line
    .hamburger-line {
      top: $top-distance;
    }

    // Middle line
    .hamburger-line::before {
      top: $middle-distance;
      transition-property: transform, opacity, width;
    }

    // Bottom line
    .hamburger-line::after {
      top: $bottom-distance;
    }
  }

  // Transform lines into an X when btn is active
  &.is-active {
    .hamburger-line {
      transform: translate3d(0, $middle-distance, 0) rotate(-45deg);
    }

    .hamburger-line::before {
      transform: translate3d($top-distance, -$middle-distance, 0) rotate(180deg);
      opacity: 0;
    }

    .hamburger-line::after {
      transform: translate3d(0, -$bottom-distance, 0) rotate(90deg);
    }
  }
}
